// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//.content-md {
//  background-color: #0000fe;
//}

@font-face {
  font-family: 'SukhumvitSet';
  src: url('../assets/fonts/SukhumvitSet-Bold.ttf') format('embedded-opentype'), url('../assets/fonts/SukhumvitSet-Light.ttf') format('woff'), url('../assets/fonts/SukhumvitSet-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ion-app.ios,ion-app.md{
  font-family: 'SukhumvitSet';
}

ion-content{
  background-color: #ffffff !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  ion-card-content{
    .list-header, .item-ios.item-block .item-inner, .item-md.item-block .item-inner,.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
      border-bottom: 0px;
      border-top: 0px;
    }
    .item .item-block .item-inner{
      border-bottom: 0px;
    }
    .list-header{
      font-size: 16px;
      font-weight: bold;
    }
    .list-header-md,.list-header-ios{
      margin-bottom: 0px;
      color: #333;
    }

    .item-ios,.item-md{
	  background-color: #ffffff !important;
    }
    ion-list{
      display: inline;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
      border-bottom-color: transparent;
      box-shadow:inset 0 -1px 0 0 transparent;
    }

    p {
      font-size: 0.8em;
      color:$red !important;
    }

    .swiper-slide {
      display: block;
    }

    ion-label, .select-text {
      margin-left: 10px;
    }

    ion-input, ion-select, ion-textarea,ion-datetime {
      border: 1px solid rgba(189, 189, 189, 0.51) !important;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: rgba(0,142,198,1);
      -o-text-overflow: clip;
      text-overflow: clip;
      background: rgba(252,252,252,1);
	  box-shadow: 0px 0px 5px rgba(136, 136, 136, 0.46) !important;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color: #1b1a1a;
    }

    .invalid {
      border: 1px solid #ea6153;
    }

    .radio-ios .radio-checked{
      border-color: #488aff !important;
	  transform: scale3d(1, 1, 1);
    }

	.label-ios,.label-md{
		padding-left: 4px !important;
	}

	.datetime-text {
	  padding-left: 5px !important;
	}

  }
}

ion-navbar{
	.toolbar-background-md,.toolbar-background-ios{
		border-color: #ffffff !important;
		background: #ffffff !important;
		background: rgba(76, 198, 241, 1.00) !important;
	}

	.toolbar-title-md,.toolbar-title-ios{
		color: #ffffff !important;
	}
	.bar-button-default-md,.bar-button-default-ios{
		color: #ffffff !important;
	}
}

ion-tabs{
  .tabbar {
    border-color: #ffffff !important;
    background: #ffffff !important;
    background: rgba(76, 198, 241, 1.00) !important;
  }
}

ion-toolbar{
  .toolbar-background-md,.toolbar-background-ios,.toolbar-background{
    background: rgba(255, 255, 255, 1.00) !important;
  }
  .item,.item-block,.item-md,.item-ios{
    background: rgba(255, 255, 255, 1.00) !important;
  }
}

.on-scroll .scroll-content{
  overflow: hidden;
}

.platform-ios {
  ion-tabs.withNavbar {
    margin-top: 0 !important;
  }
}

.platform-android {
  ion-tabs.withNavbar {
    margin-top: 0;
  }
}
